:root {
    --body-font: 'Arial, sans-serif';
    --heading-font: 'Helvetica, sans-serif';
    --primary-dark: #005f63;
    --accent1-color: #0a9396;
    --accent2-color: #2a9474;
    
}

nav a:hover {
    color: var(--accent2-color);
}

*{
    
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: rgb(5, 110, 115);
}

header {
         width: 840px;
        margin: 0 auto;
}
h1 , h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    color: rgb(0, 50, 50);
}
nav,p,section,article{
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}

h1 {
    position:absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: rgb(0, 50, 50);
}

    main,
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

aside {
    width: 10rem;
    margin: 1rem;
    border: 1px solid #6832e6;
    padding: 1rem;
    background-color: rgb(247 247 248 / 45%);
    text-align: center;
    color: rgb(170 60 60);
}
aside image {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
}
p {
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #530303;
    text-align: center;

}
.hero {
  position: relative;
  background-color: var(--primary-dark);
 color: #ffffff;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}
.hero {
  width: 100%;
  overflow: hidden;
}

.hero h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  color: rgb(15, 15, 15);
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}
section {
  max-width: 900px;
  margin: 0 auto;
}

.hero article img {
    float: right;
    margin: 0 0 1rem 1rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

