:root {
    --body-font: 'Arial, sans-serif';
    --heading-font: 'Helvetica, sans-serif';
    --primary-color: #2c3e50;
    --accent1-color: #3c80e7;
    --accent2-color: #2a9474;
}



nav a:hover {
    color: var(--accent2-color);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(accent1-color);
}

header {
         width: 840px;
        margin: 0 auto;
}
h1 , h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav,p,section,article{
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero{
    position: relative;
}

h1 {
    position:absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
main img {
    width: 150px;
    height: auto;
    
    }



aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(000/0.2);/*1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside image {
    width: 200px;
    height: auto;


}
p {
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}
.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.hero h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}
