*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 50%;
    margin: 1rem;
    font-family: Arial, sans-serif;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: lightgray;
    color: #000;
}

h1{
    text-align: center;
    margin-bottom: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
code{
    background-color: #f4f4f4;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    display: block;
}
button{
    padding: 1rem;
    background-color: #2422c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    
}
.box{   
    margin-top: 1rem;
    background-color: #000;
    color: #fff;
}
input,textarea,select{
    padding: 1rem;  
    border: 1px solid #ccc;
    border-radius: 4px;
    
}