header,footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;

}

ody{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
}

main{
    width: 400px;
    margin: 0px auto;

}
h1{padding: 10px;
    font-size: 2rem;
    text-align: center;
}
h2{
    border-bottom: 1px solid #222;
}
img{ margin: 20px auto;
    max-width: 100%;
    box-shadow: 20px 20px 50px #333;}


section{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #abe;
    background-color: rgb(185, 192, 214);
    font-size: .9rem;
        }
ul
{margin: 10px 0 ;}

footer{
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 1rem;
}
