h1 {
    position:absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align:center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
image {
    width: 150px;
    height: auto;
    
  }

/*main { max-width: 840px;

}
/*/
/*aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}/*/
.grid {
  display: grid;
  align-items: center;
}
    
main {
  grid-column: 2/3;
  margin: 1rem;
}
    
aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}
  
aside img {
  width: 200px;
  height: auto;
}

 
main img {
  width: 300px;               
  height: 200px;              
  border: 2px solid #00AA9A; 
  padding: 5px;               
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5); 
}
/*nav {
  background-color: #4d857f;
  padding: 1rem;
}
nav a {
  color: #ffffff;       
  padding: 10px;      
  display: block;      
}/*/
nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff; /% shorthand for white %/
}

p {padding: 0;}

/*footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}*/


.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.hero h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  max-width: 400px;
}

header, footer {
  max-width: 840px;
  margin: 0 auto;
}
nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}