h1 {
    position:absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align:center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
image {
    width: 150px;
    height: auto;
    
  }

main { max-width: 840px;

}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(000/0.2);/*1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
   aside image {
       width: 200px;
       height: auto;
}

  main image {
    width: 150px;
    height: auto;
    
}
p {padding: 0;}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}




