h1 {
    position:absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align:center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
image {
    width: 150px;
    height: auto;
    
  }

main { max-width: 840px;

}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
  
aside img {
  width: 200px;
  height: auto;
}

 
main img {
  width: 300px;               
  height: 200px;              
  border: 2px solid #00AA9A; 
  padding: 5px;               
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5); 
}
nav {
  background-color: #4d857f;
  padding: 1rem;
}
nav a {
  color: #ffffff;       
  padding: 10px;      
  display: block;      
}

p {padding: 0;}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}




