/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.6;
}

/* Navigation */
header {
  background-color: #060ad967;
  padding: 1rem 0;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Layout */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  max-width: 1100px;
  margin: 2rem auto;
  padding: 1rem;
}

/* Card (Left Side) */
.card {
  background: #e5e5e5;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.card h2 {
  margin-bottom: 0.5rem;
}

/* Profile Section */
.profile h1 {
  color: #100d1f;
  margin-bottom: 1rem;
  border-bottom: 2px solid #31200c;
  padding-bottom: 0.5rem;
}

.profile-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: start;
  margin-bottom: 1.5rem;
  
}

.profile-img {
  width: 100%;
  border-radius: 6px;
}

/* Links */
.links {
  background: #ddd;
  padding: 1rem;
  border-radius: 6px;
  list-style: disc inside;
}

.links a {
  color: blue;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #ccc;
  margin-top: 2rem;
  background-color: #fafafa;
}
